body {
    background-color:lightblue;
}

.boxes {
    color:blue;
    background-color:blue;
    width:100px;
    height:100px;
    margin:5px;
    float:left;
    
}

#scoreFont {
    font-size:50px;
}

#containerDiv {
    position:absolute;
    left:30%;
    top:12%;
}

#resetButton {
    width:200px;
    height:50px;
    background-color:darkblue;
    position:relative;
    left:32%;
}
